* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 10px;
    margin-right: 10px;
    background-color: cyan;
}

header {
   border: 1px solid black;
   display: flex;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   align-items: center;
   margin-bottom: 100px;
}

header nav {
    width: 40%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

